.grid {
  display: grid;
  /*grid-template-columns:fit-content(200px) auto 2fr;
  grid-template-rows: 1fr 1fr;*/
  grid-template: 1fr 1fr/fit-content(200px) 1fr 2fr;
  grid-auto-rows: 50px;
}

.elem {
  border: 2px dashed green;
  padding: 10px;
  text-align: center;
}

.elem2 {
  background-color: #B4CA8F;
  grid-row-start: span 2;
  grid-column-start: span 2;
  border: 2px dashed tomato;
}

.gred-body {
  display: grid;
  /*grid-template-columns:150px 1fr ;
  grid-template-rows: 100px 2fr;
  grid-template-areas:"header header" "side content";*/
  grid-template: [start] "header header" 100px [row2] [row2] "side content" 1fr [row-end]/150px 1fr;
}

.item {
  border: 2px dashed pink;
  padding: 20px;
}

.header {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: header;
}

.side {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: side;
}

.content {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: content;
}